1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [56]:
print("Ali",28,True,70.5)

Ali 28 True 70.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [50]:
print ("Ali", 28, True, 70.5, sep=("-"))

Ali-28-True-70.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [66]:
print ("Ali", end=" ") 
print (28, end=" ")
print (True, end=" ")
print (70.5, end=" ")

Ali 28 True 70.5

In [ ]:
4) Can a python print function take no value to print???

In [68]:
print()

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawyer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome laywer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [12]:
Friend_name= ("Ahmed")
Age = (30)
Profession = ("Lawyer")
Qualification = ("Bachelors in Law")
Graduation_year = (2005)
Firm_name = ("The Himalya Associates")
Joining_date = (2015)
Height_feet = (5.10)
Weight_grams = (70600)
monthly_income_pkr = (200000)

6) How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year.

In [14]:
current_year = 2024

In [44]:
time_after_graduation = (current_year - Graduation_year)

print(f"My friend {Friend_name} has taken his degree in {time_after_graduation} years.")

My friend Ahmed has taken his degree in 19 years.

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm.

In [50]:
working_in_firm = (current_year - Joining_date)
working_in_firm

9

8) Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [20]:
Dollar = 280

In [102]:
income_dollar = (f"{(monthly_income_pkr / Dollar)} dollars")
income_dollar

'714.2857142857143 dollars'

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value.

In [100]:
print (f"{int(monthly_income_dollar)} dollars")

714 dollars

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [114]:
weight_kg = Weight_grams / 1000
weight_kg

print (f" my friend {Friend_name} weight is {weight_kg} KG")

 my friend Ahmed weight is 70.6 KG

In [136]:
print (f" {int(weight_kg)} kg")

 70 kg

11) Print the year of Ahmed's birth

In [140]:
birth_year = current_year - Age
birth_year

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [142]:
100%6

4

No It cannot be.